.App {
  display: grid;
  margin-top: 20%;
  margin-left: 40%;
  
  text-align: center;
  grid-template-columns: 150px 150px;
  grid-template-areas: "img title"
                                      "img stars";
}

.img {
  grid-area: img;
  display: inline-block;
  width: 150px;
  height: 220px;
  background-image: url("./img/book.png");
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  grid-area: title;
  display: inline-block;
}

.card-body-stars {
  padding: 5px;
  grid-area: stars;
  justify-self: flex-start;
  margin: 0;
  padding: 0;
  list-style:none;
}

.card-body-stars li {
  display: inline-block;
}